<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

<context:annotation-config/>

<bean id="c1" class="org.tnsif.usingautowireannotation.Cell">
<property name="company" value="Nippo"/>
<property name="size" value="small"/>
</bean>
<bean id="remote" class="org.tnsif.usingautowireannotation.Remote" >

<!--property name="p" ref="fees"/-->

</bean>
</beans>



